* {
    text-align: center;
}

body{
    background-size: cover;
}

Form {
    color: white;
    text-align: center;
    #font-size: 100px;
    #background-color: purple;
}
.navbar {
    overflow: hidden;
    background-color: #FF7800;
    position: fixed; 
    top: 0;
    width: 100%;
}
.navbar input[type=text] {
    border: none;
    margin-top: 4px;
	font-size: 24px;
}
.main {
    margin-top: 70px;
    color: black; 
}
.b1{
    background-color: #5FF6EF;
    font-size: 28px;
    float: right;
}
.b2{
    background-color: #5FF6EF;
    font-size: 24px;
}
.movieimg{
    width:500px;
    height:600px;"
}

h1{
	color: #222222;
}

table, td {
    border: 1px solid black;
    align-self: center;
}
.signupblock{
    border: 1px solid black; 
    float: left;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}