<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/main.css') }}">
    <title>MovieHub</title>
  </head>

  <body>
    <form method="POST">
      <div class="navbar">
        <input class="b1" value="Sign Up" onclick="window.location.href='http://127.0.0.1:5000/signup'" type="button">
        <input class="b1" value="Login" onclick="window.location.href='http://127.0.0.1:5000/login'" type="button">
        <a href="http://127.0.0.1:5000/">
          <img src="{{ url_for('static', filename='styles/logo.gif') }}"  height="50px" / style="float: left;">
          <img src="{{ url_for('static', filename='styles/logo2.png') }}"  height="50px" / style="float: left;">
        </a>
        <input type="text" placeholder="Search.." name="searchText">
        <input class="b2" type="submit" name="search" value="Search">
        <input class="b2" value="Movies" onclick="window.location.href='http://127.0.0.1:5000/movies'" type="button">
      </div>
      <div class="main">
        <h1>Movie Details Page</h1>
            {{movie["title"]}}<br>
            {{movie["year"]}}<br>
            {{movie["rating"]}}<br>
            {{movie["runtimes"]}}<br>
            {{movie["genres"]}}<br>
            {{movie.summary()}}<br>
            <br></br>
            {% for row in cinemas %}
                {% for i in row %}
                    {{ i.name }}
                {% endfor %}
            {% endfor %}
            {% for row in times %}
                {% for i in row %}
                    {{ i.time }}
                {% endfor %}
            {% endfor %}
            <br>
            <br>
        <input class="b2" value="Payment" onclick="window.location.href='http://127.0.0.1:5000/payment'" type="button">
      </div>
    </form>
  </body></html>
