<!DOCTYPE html>
<html>
<head>
    <title>MovieHub</title>
    </head>
    
   <body>
      <h1> Payment </h1>
      <Form method="POST">
        Child $8
        <select name="child" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br>   
        Student $14
        <select name="student" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br>
        Adult $20
        <select name="adult" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br>
        Pensioner $12
        <select name="pensioner" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br>       
        <input name="name" type="text" placeholder="Name on Card"/ required>
        <input name="number" type="text" placeholder="Card Number"/ required> <br>
        <input name="expiry_date" type="date"/ required>
        <input name="CCV" type="text" placeholder="CCV"/ required> <br>
        <button type="submit" name="bt">Enter</button>
        <br>
        <br>
      </Form>
</body></html>
